<div style='border:3px solid yellow;margin:5px;'>
  <h3>Strings</h3>
  <h4>Percent Complete: {{percentComplete}}%</h4>
  <button {{action 'export' 'json'}} type="submit" class="btn btn-primary">Export JSON</button>
  <button {{action 'export' 'xml'}} type="submit" class="btn btn-primary">Export XML</button>
  <button {{action 'export' 'php'}} type="submit" class="btn btn-primary">Export PHP</button>
  <button {{action 'export' 'ios'}} type="submit" class="btn btn-primary">Export iOS</button>
  <hr/>
  <ul>
    {{#each model.localized_strings as |string|}}
      <li>
        {{#link-to 'apps.detail.language.string' string.id}}{{string.string_key}}{{/link-to}}: {{#if string.string_value}}{{string.string_value}}{{else}}<span class='label label-danger'>Untranslated</span>{{/if}}
      </li>
    {{/each}}
  </ul>
  <hr/>
  <h5>Add New String</h5>
  {{input value=newKey enter='newString'}}
  {{outlet}}
</div>
